.ui-row {
  padding-top: 36px;
}

.cardimg {
  border: solid 0px #555;
  background-color: #eed;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.stamps-block {
  margin: auto;
  width: 300px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  display: block;
}

.stamps-block>img {
  border-radius: 6px;
  margin: 5px;
  width: 90px;
}

.filled-stamp-slot {
  border: 2px solid silver;
}

.empty-stamp-slot {
  opacity: 0.3;
  border: 2px dashed silver;
}

.center-aligned-p {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.mebory-ui-accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.mebory-ui-accordion:hover {
  background-color: #ccc;
}


.mebory-ui-accordion:active {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.mebory-ui-accordion-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.mebory-ui-accordion::after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.mebory-ui-accordion.active::after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

/* mebory ユーザー情報背景色 */
.mebory-ui-accordion-panel {
  background-color: transparent !important;
}

/* mebory  情報を発行元に共有する フォント色 */
.form-check-label {
  color: white !important;
}

/* meboryボタン色変更 */
.btn-primary#get-code {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #938A7C !important;
  --bs-btn-border-color: transparent !important;
}

.btn-primary#reload {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #7a7266 !important;
  --bs-btn-border-color: transparent !important;
}

.btn-danger {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #81262f !important;
  --bs-btn-border-color: transparent !important;
}

.btn-primar#update-user-info-settings {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #7f8286 !important;
  --bs-btn-border-color: transparent !important;
  --bs-btn-hover-bg: #a1a1a2 !important;
  --bs-btn-hover-border-color: transparent !important;
  --bs-btn-active-bg: #4e6382 !important;
  --bs-btn-active-border-color: transparent !important;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4e6382 !important;
  --bs-btn-disabled-border-color: transparent !important;
}


/* ユーザー情報設定タブ　調整 */
.mebory-ui-accordion {
  margin-bottom: 20px;
}