.ui-row{
    padding-top: 36px;
}
.cardimg {
    border: solid 0px #555;
    background-color: #eed;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stamps-block {
    margin: auto;
    width : 300px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    display: block;
}

.stamps-block > img {
    border-radius: 6px;
    margin: 5px;
    width: 90px;
}

.filled-stamp-slot{
    border: 2px solid silver;
}
.empty-stamp-slot{
    opacity:0.3;
    border: 2px dashed silver;
}

.center-aligned-p{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.mebory-ui-accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.mebory-ui-accordion:hover {
  background-color: #ccc;
}


.mebory-ui-accordion:active {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.mebory-ui-accordion-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.mebory-ui-accordion::after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.mebory-ui-accordion.active::after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}